<!DOCTYPE html>
<html lang="en">
  {%include "header.html"%}
  <body>
    <div class="error-container">
      <div class="error-msg-left">
        <h3>404. URL not found.</h3>
        <p class="error-message">The page you requested could not be found.</p>
        <p class="error-message">Please try again later</p>
        <p class="error-message">
          Already a user? <a class="error-link" href="/user-login">Login</a>
        </p>
      </div>

      <img class="error-msg-right" src="/static/images/404.svg" alt="error" />
    </div>
  </body>
</html>
