<!DOCTYPE html>
<html lang="en">
  {%include "header.html"%}
  <body>
    <div class="main-container">
      <div class="left-container">
        <img src="/static/images/about.svg" alt="about" />
      </div>
      <div class="right-container left">
        <h1 class="title about-header">Our Team</h1>
        <h2 class="title">Bhanu Gupta</h2>
        <h2 class="title">Ankit Chauhan</h2>
        <h2 class="title">Rohan Mathur</h2>
        <h2 class="title">Himanch Chowdary</h2>
      </div>
    </div>
  </body>
</html>
