<!DOCTYPE html>
<html lang="en">
    {%include "header.html"%}

    <title>Admin</title>
  </head>

  <body style="background-image: url(BGimage.jpg)">
    <nav class="navigation">
        <div class="nav-brand">Admin</div>
        
            <form class="form-inline" action="/logout">
                <button class="logout-btn" type="submit">Log Out</button>
            </form>
         
      </nav>
      <form class="admin-books-form" action="/adminLoginSuccess" method="POST">
        <input
          class="user-input"
          type="text"
          id="title"
          name="title"
          placeholder="Enter Book Title"
          required
        />
        <input
          class="user-input"
          type="text"
          id="category"
          name="category"
          placeholder="Enter Category"
        />
        <input
          class="user-input"
          type="text"
          id="author"
          name="author"
          placeholder="Author Of Book"
          required
        />

        <input
          class="user-input"
          type="number"
          id="numberOfBooks"
          name="numberOfBooks"
          placeholder="Number of books"
          required
        />
        <button class="submit-btn btn" type="submit">Add Book</button>
      </form>
    </div>
  </body>
</html>
