<!DOCTYPE html>
<html lang="en">
  {%include "header.html"%}
  </head>
  <body>
    <nav class="navigation container">
      <div class="nav-brand">Library Management</div>
      <ul class="list-non-bullet nav-links">
        <li class="list-item-inline">
          <a class="link link-active" href="/issued-books">Issued Books</a>
        </li>
        <li class="list-item-inline">
          <a class="link" href="/about">About</a>
        </li>
        <li class="list-item-inline">
          <a class="link" href="/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
