<!DOCTYPE html>
<html lang="en">
  {%include "header.html"%}
  <body>
    <div class="main-container">
      <h1 class="main-header">
        Library <span class="invert">Management</span>
      </h1>
      <div class="container">
        <form action="/user-login" method="GET">
          <button class="btn login-btn" type="submit">Login</button>
        </form>
        <p class="message">
          If not register then please do. <a href="/register">Register</a>
        </p>
      </div>
    </div>
  </body>
</html>
