<!DOCTYPE html>
<html lang="en">
  {%include "header.html"%}
  <body>
    <div class="main-container reverse">
      <div class="left-container">
        <h1 class="main-header">
          Library <span class="invert">Management</span>
        </h1>
        <a class="btn login-btn login-btn-link" href="/user-login" type="submit"
          >Login</a
        >
        <p class="message-register">
          If not register then please do. <a href="/register">Register</a>
        </p>
      </div>
      <div class="right-container">
        <img src="/static/images/hero.svg" alt="hero-image" />
      </div>
    </div>
  </body>
</html>
