<!DOCTYPE html>
<html lang="en">
{%include "header.html"%}
</head>

<body>
  <nav class="navigation">
    <div class="nav-brand">Library Management</div>
    <ul class="list-non-bullet nav-links">
      <li class="list-item-inline">
        <a class="link" href="/about">About</a>
      </li>
      <li class="list-item-inline">
        <a class="link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="book-list">
    <h3>Your books</h3>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Category</th>
          <th>Name</th>
          <th>Author</th>
          <th>Issued</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        {% for user_book in user_books %}
        {% if book.id == user_book %}
        <tr>
          <td>{{book.id}}</td>
          <td>{{book.title}}</td>
          <td>{{book.category}}</td>
          <td>{{book.author}}</td>
          <td><a href="/dashboard/{{book.id}}/{{user_id}}" method="GET">Return</a></td>
        </tr>
        {%endif%}
        {%endfor%}
        {%endfor%}
      </tbody>
    </table>
  </div>
</body>

</html>