<!DOCTYPE html>
<html lang="en">
  {%include "header.html"%}
  <body>
    <form action="/success" class="login-form" method="POST">
      <input
        type="email"
        name="email"
        placeholder="email"
        class="user-input"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="password"
        class="user-input"
        required
      />
      <button type="submit" class="submit-btn btn">Login</button>
    </form>
    <p class="message">
      If not register then please do. <a href="/register">Register</a>
    </p>
  </body>
</html>
