<!DOCTYPE html>
<html lang="en">
  {%include "header.html"%}
  <body>
    <form action="/success-register" class="register-form" method="POST">
      <input
        type="text"
        class="user-input"
        name="name"
        placeholder="name"
        required
      />

      <input
        type="email"
        class="user-input"
        name="email"
        placeholder="email"
        required
      />

      <input
        type="password"
        class="user-input"
        name="password"
        placeholder="password"
        required
      />

      <button type="submit" class="submit-btn btn">Register</button>
    </form>
  </body>
</html>
