@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-bg-color: #000;
  --primary-header-color: #4f46e5;
  --primary-text-color: #f9fafb;
  --primary-button-color: #2563eb;
  --secondary-header-color: #444;
  --secondary-text-color: #94a3b8;
  --secondary-bg-color: #f9fafb;
  --start-color: #7928ca;
  --end-color: #ff0080;
  --start-about-color: #007cf0;
  --end-about-color: #00dfd8;
  --input-padding: 1rem;
  --input-margin: 1rem;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: blue;
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 3rem 2rem;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.login-btn-link {
  text-decoration: none;
  margin: 4rem 0rem;
  width: 100%;
}

.message-register {
  margin-top: 1rem;
}

.left-container {
  margin: 1rem 1rem 2rem 1rem;
  max-width: 400px;
}

.right-container {
  margin: 1rem 1rem 3rem 1rem;
}

.right-container img,
.left-container img {
  width: 80vh;
  height: 70vh;
}

.main-header {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.invert {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
}

.btn {
  padding: 0.8rem 2rem;
  border: none;
  font-size: 1rem;
  border-radius: 0.2rem;
  width: 100%;
}

/* form */
.login-form,
.register-form,
.admin-books-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.login-form,
.register-form {
  margin-top: 5rem;
}

.login-btn,
.submit-btn {
  color: var(--primary-text-color);
  background: var(--primary-button-color);
}

.login-btn:hover,
.submit-btn:hover {
  color: var(--primary-button-color);
  background: var(--primary-text-color);
}

.user-input {
  padding: var(--input-padding);
  margin-bottom: var(--input-margin);
  width: 100%;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  background-color: var(--secondary-bg-color);
  color: var(--primary-bg-color);
  font-weight: 400;
}

.user-input:focus {
  outline: 1px solid var(--primary-button-color);
}

.message {
  text-align: center;
  margin-top: 0.5rem;
}

.message a,
.message-register a {
  text-decoration: none;
  color: var(--primary-button-color);
}

.message a:hover,
.message-register a:hover {
  text-decoration: underline;
}

.message a:active,
.message-register a:active {
  color: var(--secondary-header-color);
}

/* navigation */
.navigation {
  background-color: var(--primary-header-color);
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.navigation .nav-brand {
  font-weight: bold;
}

.navigation .nav-links {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

/* list */
.list-items {
  list-style: none;
}

.list-item {
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

/* lists */
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.list-item-inline :hover {
  cursor: pointer;
  border-bottom: 4px solid var(--primary-text-color);
}

.logout-btn {
  background: none;
  border: none;
  color: var(--primary-text-color);
  font-size: 1rem;
}

.logout-btn:hover {
  cursor: pointer;
}

/* dashboard */
.book-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

/* table */
.book-list-header {
  color: var(--primary-button-color);
}

table {
  border: 2px solid var(--primary-button-color);
  margin: 1rem;
  font-size: 1rem;
}

thead {
  background-color: var(--primary-header-color);
}

th {
  padding: 1rem 1.2rem;
}

td {
  color: var(--primary-text-color);
  padding: 0.5rem 1.2rem;
}

tr {
  padding: 1rem;
}

.issue-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-header-color);
  color: var(--primary-text-color);
  font-weight: bold;
  border-radius: 0.2rem;
}

.issue-link:hover {
  color: var(--secondary-header-color);
  background: var(--primary-text-color);
}

/* about */
.title {
  margin: 2rem 2rem 1rem 0rem;
}

.about-header {
  font-size: 4rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--primary-button-color),
    var(--end-color)
  );
}

.reverse {
  flex-wrap: wrap-reverse;
}

/* error-404 */
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap-reverse;
}

.error-msg-left,
.error-msg-right {
  margin: 1rem;
}

.error-msg-right {
  width: 50vw;
  height: 50vh;
}

.error-link {
  text-decoration: none;
  color: var(--primary-button-color);
}

.error-link:hover {
  text-decoration: underline;
}

.error-message {
  color: var(--secondary-text-color);
}
