@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-bg-color: #000;
  --primary-header-color: #4f46e5;
  --primary-text-color: #f9fafb;
  --primary-button-color: #93c5fd;
}

* {
  box-sizing: border-box;
}

body {
  color: blue;
  font-family: 'Poppins', sans-serif;
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1rem 2rem;
}
